@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  margin: 0;
  padding: 0;
  min-width: 450px;
  /* Added */
  background: linear-gradient(45deg, #fbda61, #ff5acd);
}

#navbar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

/* Style of Navbar Section */
.uls {
  display: flex;
  margin-right: 1rem;
}

.lis {
  list-style: none;
}
.lis a {
  padding: 21px 19px;
  font-size: 20px;
}

.lis a:hover {
  background: var(--main-blue);
}

a {
  text-decoration: none;
  color: #fff;
}

/* End --> navbar */

/* Start --> Welcome Section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#title {
  height: 0px;
  color: #fff;
  font-size: 6rem;
}

#welcome-section p {
  font-size: 3rem;
  color: #190cc9;
}

/* End --> Welcome Section */

/* Start of Projects Section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

/* Grid */

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 3rem;
    /* padding: 6rem 1rem; */
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #1e272e;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
  margin: 0 10px;
}

.project:hover .code {
  color: #093eb8;
}

.project-image {
  /* height: calc(100% - 6.8rem); */
  height: 83%;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px 10px 2px;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

/* Contact Section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

#contact-title {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-size: 6rem;
  padding-bottom: 20px;
}

.btn_links {
  font-style: italic;
  padding: 0 10px;
}

.contact_links {
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.btn_links:hover {
  color: red;
  transform: translateY(5px);
}

@media screen and (max-width: 712px) {
  .project-title {
    margin-top: 10px;
  }
}

/* max-width: 600px means less than 600px */

@media (max-width: 600px) {
  #contact-title {
    font-size: 4rem;
    padding: 0;
  }

  .project-title {
    margin-top: 8px;
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .btn_links {
    font-size: 3rem;
    padding: 0 20px;
  }
}

/* Card design  */

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.card {
  position: relative;
  width: 350px;
  height: 190px;
  /* height: 450px; */
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0, 15);
  transition: 0.5s;
}

.card:hover {
  height: 450px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -70px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(180px);
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.card .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card .content .details .actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #ff5f95;
  color: #fff;
  cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background-color: #fff;
}
